<header>
    <nav class="navbar">
        <div class="logo">
            <h1>
                <img src="/images/logos/logo-hutech-book-removebg.png"
                    alt="logo"> HUTECH LIBRARY
            </h1>
        </div>
        <ul class="nav-links">
            <li><a href="/">Trang Chủ</a></li>

            <!-- Dropdown Tài Nguyên -->
            <li class="dropdown">
                <a href="#">Tài Nguyên</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Tài liệu học tập</a></li>
                    <li><a href="#">Tạp chí Việt Nam</a></li>
                    <li><a href="/admin">Cơ sở dữ liệu</a></li>
                </ul>
            </li>
            <!-- Dropdown Sách -->
            <li class="dropdown">
                <a href="#">Sách</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Sách theo ngành</a></li>
                    <li><a href="#">Sách theo lĩnh vực</a></li>
                </ul>
            </li>
            <!-- Dropdown Hướng Dẫn -->
            <li class="dropdown">
                <a href="#">Hướng Dẫn</a>
                <ul class="dropdown-menu">
                    <li><a href="/dky-the-thu-vien">Đăng ký thẻ thư
                            viện</a></li>
                    <li><a href="/dky-doc-sach-online">Đăng ký đọc trực
                            tuyến</a></li>
                    <li><a href="/noi-quy">Nội quy thư viện</a></li>
                </ul>
            </li>

            <li><a href="/gio-sach"><img src="/images/icon-ui/shopping-cart.png"
                        alt="shoong-cart-book"></a></li>
            <li><a href="/authentication"><img src="/images/icon-ui/profile.png"
                        alt="icon-user"></a></li>
        </ul>
    </nav>
</header>
