<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/dky-doc-sach-online.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="icon" href="/images/logos/logo-hutech-book-removebg.ico" type="image/x-icon">
        <title>Đăng ký tài khoản đọc sách online</title>
    </head>
    <body>
        <%- include('partials/header') %>

        <div class="container">
            <h2>Đăng ký tài khoản đọc sách online và các bước thực hiện</h2>
            <p>
                Đăng ký tài khoản đọc sách online là quy trình cần thiết để bạn có thể truy cập và đọc sách trực tuyến từ thư viện HUTECH. Sau khi đăng ký thành công, bạn có thể tìm kiếm và đọc sách mọi lúc, mọi nơi thông qua website chính thức của thư viện.
            </p>

            <h3>I. ĐĂNG KÝ TÀI KHOẢN ĐỌC ONLINE</h3>
            <p>
                Để đăng ký tài khoản đọc sách online, bạn có thể làm theo các bước sau:
            </p>
            <div class="tomtat">
                <img src="/images/hd-dky-doc-online-images/TTSIGN-01.png" alt="tomtat">
            </div>

            <ol>
                <li>Tìm thư viện gần nhất với bạn và kiểm tra các yêu cầu đăng ký tài khoản đọc online của thư viện.</li>
                <img src="/images/hd-dky-doc-online-images/DANGKYTK DOCSACH ONLINE-01.png" alt="dangki1">
                <li>Yêu cầu đăng ký tài khoản đọc sách online thư viện là cần có thẻ sinh viên hoặc Giảng Viên/Nhân viên.</li>
                <img src="/images/hd-dky-doc-online-images/DANGKYTK DOCSACH ONLINE-02.png" alt="dangki2">
                <li>Tìm hiểu về các điều khoản và điều kiện sử dụng tài khoản thư viện của bạn.</li>
                <img src="/images/hd-dky-doc-online-images/DANGKYTK DOCSACH ONLINE-03.png" alt="dangki3">
                <li>Đến thư viện và điền vào mẫu đăng ký. Bạn cần cung cấp thông tin cá nhân của bạn như tên, địa chỉ, số điện thoại và địa chỉ email.</li>
                <img src="/images/hd-dky-doc-online-images/DANGKYTK DOCSACH ONLINE-04.png" alt="dangki4">
                <li>Truy cập trang web của thư viện.</li>
                <img src="/images/hd-dky-doc-online-images/DANGKYTK DOCSACH ONLINE-05.png" alt="dangki5">
                <li>Đăng nhập vào tài khoản của bạn trên web <a href="https://lib.hutech.edu.vn" target="_blank">https://lib.hutech.edu.vn</a>.</li>
                <img src="/images/hd-dky-doc-online-images/DANGKYTK DOCSACH ONLINE-06.png" alt="dangki6">
                <li>Kiểm tra thông tin cá nhân (thay đổi nếu như sai thông tin).</li>
                <img src="/images/hd-dky-doc-online-images/DANGKYTK DOCSACH ONLINE-07.png" alt="dangki7">
            </ol>

            <h3>II. ĐỌC SÁCH ONLINE</h3>
            <p>
                Các bước để đọc sách online tại website thư viện:
            </p>
            <div class="tomtat2">
                <img src="/images/hd-dky-doc-online-images/TTSIGN-2-01.png" alt="tomtat">
            </div>

            <ol>
                <li>Sau khi đăng ký thành công, đăng nhập vào tài khoản của bạn trên website thư viện.</li>
                <img src="/images/hd-dky-doc-online-images/DANGKYTK DOCSACH ONLINE-08.png" alt="dangki8">
                <li>Tìm kiếm và chọn sách bạn muốn tham khảo.</li>
                <img src="/images/hd-dky-doc-online-images/DANGKYTK DOCSACH ONLINE-9.png" alt="dangki9">
                <li>Chọn nút "Đọc online" để đọc sách trực tuyến.</li>
                <img src="/images/hd-dky-doc-online-images/DANGKYTK DOCSACH ONLINE-10.png" alt="dangki10">
            </ol>
        </div>
    </body>
</html>