<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/dky-the-thu-vien.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="icon" href="/images/logos/logo-hutech-book-removebg.ico" type="image/x-icon">
        <title>Đăng ký thẻ thư viện</title>
    </head>
    <body>
        <%- include('partials/header') %>

        <div class="container">
            <h2>Đăng ký thẻ thư viện và mượn sách</h2>
            <p>
                Đăng ký thẻ thư viện là quy trình đăng ký tài khoản để trở thành
                thành viên của thư viện và có thể mượn
                sách và tải sách từ thư viện. Sau khi đăng ký thẻ, bạn có thể
                mượn sách bằng cách tìm sách, đăng ký mượn sách
                và lấy sách tại thư viện. Khi đọc xong sách, bạn cần trả sách
                lại cho thư viện. Nếu bạn muốn tiếp tục mượn sách
                sau khi hạn mượn của sách đó đã hết hạn, bạn có thể gia hạn sách
                bằng cách liên hệ với thư viện và tuân thủ các quy định của thư
                viện về gia hạn sách.
            </p>

            <h3>I. MƯỢN VÀ TRẢ SÁCH VỚI ỨNG DỤNG LIBHUTECH</h3>
            <p>
                Để mượn và trả sách thư viện thông qua ứng dụng Libhutech, bạn
                có thể làm theo các bước sau:
            </p>
            <div class="tomtat"><img
                    src="/images/hd-dky-the-thu-vien-images/TOMTAT-01.png"
                    alt="tomtat"></div>

            <ol>
                <li>Tải và cài đặt ứng dụng Libhutech trên điện thoại của
                    bạn.</li>
                <img src="/images/hd-dky-the-thu-vien-images/MOTA-01.png"
                    alt="mota1">
                <li>Đăng nhập vào tài khoản của mình trên ứng dụng Libhutech.
                    Nếu bạn chưa có tài khoản, hãy đăng ký tài khoản trên ứng
                    dụng (xem hướng dẫn)</li>
                <img src="/images/hd-dky-the-thu-vien-images/MOTA-02.png"
                    alt="mota2">
                <li>Yêu cầu đăng ký thẻ thư viện là cần có thẻ sinh viên hoặc
                    Giảng Viên/Nhân viên.</li>
                <img src="/images/hd-dky-the-thu-vien-images/MOTA-03.png"
                    alt="mota3">
                <li>Tìm hiểu về các điều khoản và điều kiện sử dụng thẻ thư viện
                    của bạn (Thư viện có thể có các quy định về số lượng sách và
                    thời hạn mà bạn có thể giữ mỗi lần mượn sách).</li>
                <img src="/images/hd-dky-the-thu-vien-images/MOTA-04.png"
                    alt="mota4">
                <li>Tìm kiếm sách mà bạn muốn, vào kho lấy sách và quét mã vạch
                    (phía sau bìa sách) để mượn trên ứng dụng Libhutech.</li>
                <img src="/images/hd-dky-the-thu-vien-images/MOTA-05.png"
                    alt="mota5">
                <li>Đến nhân viên thư viện (tại cửa ra vào) để xác nhận về việc
                    mượn sách thành công. Bạn có thể kiểm tra tình trạng mượn
                    sách của mình trên ứng dụng Libhutech.</li>
                <img src="/images/hd-dky-the-thu-vien-images/MOTA-06.png"
                    alt="mota6">
                <li>Khi bạn muốn trả sách, bạn mang sách đến thư viện và trả
                    sách cho nhân viên thư viện để xác nhận lại số lượng sách
                    trả. (Nếu bạn trả sách quá hạn, bạn có thể bị phạt theo quy
                    định thư viện.)</li>
                <img src="/images/hd-dky-the-thu-vien-images/MOTA-07.png"
                    alt="mota7">
            </ol>
            <h3>II. GIA HẠN TÀI LIỆU SÁCH</h3>
                <p>
                    Để gia hạn tài liệu mà bạn đang mượn, bạn có thể làm theo các bước sau:
                </p> 
                <div class="tomtat2"><img
                    src="/images/hd-dky-the-thu-vien-images/TOMTAT-02.png"
                    alt="tomtat"></div>

                <ol>
                    <li>Yêu cầu gia hạn tài liệu bằng cách đem sách đến quầy thư viện hoặc gửi thư về email tt.thuvien@hutech.edu.vn để gia hạn.</li>
                    <img src="/images/hd-dky-the-thu-vien-images/MOTA-01.png"
                        alt="giahan1">
                    <li>Xem ngày hết hạn của tài liệu và thời gian gia hạn mà thư viện cho phép.</li>
                    <img src="/images/hd-dky-the-thu-vien-images/MOTA-02.png"
                        alt="giahan2">
                    <li>Thanh toán bất kỳ khoản phí trễ hạn tài liệu nào (nếu có).</li>
                    <img src="/images/hd-dky-the-thu-vien-images/MOTA-03.png"
                        alt="giahan3">
                    <li>Xác nhận lại ngày trả mới của tài liệu và chờ xác nhận từ thư viện.</li>
                    <img src="/images/hd-dky-the-thu-vien-images/MOTA-04.png"
                        alt="giahan4">
                </ol>

            </div>
        </body>
    </html>
